<article class="mt-4">
  <h2 class="h5">About</h2>
  <p>
    IT勉強会用 名刺ジェネレーターは、
    「ラクスルにそのまま入稿できる名刺原稿」を作成するWebサービスです。
  </p>

  <p class="mt-4">
    GitHubアカウントとTwitterアカウントを持っている人であれば、
    どなたでも名刺原稿を作成することができます。
    <br>
    学生さんには特にオススメです。（学校は学生の名刺を配布しないため）
    <br>
    また、会社の名刺にSNSアカウントやアバター画像が記載されていない方にもオススメです。
  </p>

  <div class="row mt-4">
    <div class="col-md-8">
      <p>
        名刺の表には、GitHubのアバター画像とSNSアカウントを印刷するので、
        ネット上の「〇〇さん」ということがわかりやすくなります。
      </p>
    </div>
    <div class="col-md-4">
      <img class="border" width="200" src="https://user-images.githubusercontent.com/39484102/62113567-ceebd280-b2ef-11e9-9f5b-d7eb013e54e9.png" alt="名刺の表">
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-8">
      <p>
        名刺の裏にはGitHubとTwitterアカウントのQRコードを印刷するので、
        勉強会後にSNSで繋がりやすくなります。QRコードにはWebサービスのアイコンが印刷されます。
        右のQRコードは、QRコードスキャナで読み込めます。
      </p>
    </div>
    <div class="col-md-4">
      <img class="border" width="200" src="https://user-images.githubusercontent.com/39484102/62113758-1e320300-b2f0-11e9-8767-db676dee79af.png" alt="名刺の裏">
    </div>
  </div>

  <div class="mt-4">
    <p>
      作成した名刺原稿は、そのままラクスルに入稿できます。
    </p>
    <img class="border" width="680" src="https://user-images.githubusercontent.com/39484102/62063955-dca94580-b266-11e9-95d7-bbfd8c8dc5a4.png" alt="">
  </div>


  <p class="mt-4 card border-success p-3">
    IT勉強会では、勉強会後に懇親会があることが多く、懇親会で名刺交換をすることがあります。
    これによって参加者の親交を深めることができるようになっています。
  </p>
</article>
