<article>
  <section class="mt-4">
    <h2 class="h5">このサイトについて</h2>
    <p class="card border-success mt-4 p-3">
      IT勉強会用 名刺ジェネレーターは、
      「ラクスルにそのまま入稿できる名刺原稿」を作成するWebサービスです。
    </p>
    <p class="mt-4">
      GitHubアカウントとTwitterアカウントを持っている人であれば、
      どなたでも名刺原稿を作成することができます。
      <br>
      学生さんには特にオススメです。（学校は学生の名刺を配布しないため）
      <br>
      また、会社の名刺にSNSアカウントやアバター画像が記載されていない方にもオススメです。
    </p>
    <div class="row mt-4">
      <div class="col-md-8">
        <p>
          名刺の表には、GitHubのアバター画像とSNSアカウントを印刷するので、
          ネット上の「〇〇さん」ということがわかりやすくなります。
        </p>
      </div>
      <div class="col-md-4">
        <img class="border" width="200" src="https://user-images.githubusercontent.com/39484102/63515724-755d7900-c526-11e9-8425-7cefb936526d.png" alt="名刺の表">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-8">
        <p>
          名刺の裏にはGitHubとTwitterアカウントのQRコードを印刷するので、
          勉強会後にSNSで繋がりやすくなります。QRコードにはWebサービスのアイコンが印刷されます。
          （右のQRコードは、QRコードスキャナで読み込めます。）
        </p>
      </div>
      <div class="col-md-4">
        <img class="border" width="200" src="https://user-images.githubusercontent.com/39484102/63516197-822e9c80-c527-11e9-895a-c9835b406603.png" alt="名刺の裏">
      </div>
    </div>
    <div class="mt-4">
      <p class="mb-2">
        作成したPDFの名刺原稿は、そのままラクスルに入稿できるフォーマットになっています。
      </p>
      <img class="border" width="680" src="https://user-images.githubusercontent.com/39484102/63602388-474d6700-c602-11e9-99a1-47a9cd8540cb.png" alt="">
    </div>
    <p class="card border-success mt-4 p-3">
      IT勉強会では、勉強会後に懇親会があることが多く、懇親会で名刺交換をすることがあります。
      これによって参加者の親交を深めることができるようになっています。
    </p>
    <p class="card border-success mt-4 p-3">
      作成した名刺は、IT勉強会以外の用途で使用しても問題ありません。ちょっとした自己紹介で個人用の名刺を渡すときに便利です。
    </p>

    <h2 class="h5 mt-5 mb-3">使用上の注意点</h2>
    <div class="card border-danger p-3 mb-3">
      <p>
        <strong>スマホからは入稿できません</strong>
      </p>
      <p class="m-0">
        ラクスルへの入稿は、<a target="_blank" rel="noopener" href="https://faq.raksul.com/hc/ja/articles/115000056521-%E3%82%B9%E3%83%9E%E3%83%BC%E3%83%88%E3%83%95%E3%82%A9%E3%83%B3%E3%81%A7%E3%82%82%E6%B3%A8%E6%96%87%E3%81%A7%E3%81%8D%E3%81%BE%E3%81%99%E3%81%8B-">パソコンからのみ</a>行うことができます。
      </p>
    </div>

    <div class="card border-danger p-3 mb-3">
      <p>
        <strong>名刺の名前は英語のみ使用可能です</strong>
      </p>
      <p class="m-0">
        名刺の名前はGitHubの<a href="https://github.com/settings/profile" target="_blank" rel="noopener">Public profile</a>のNameの値を使用しており、この値は英語でのみ入力できます。
      </p>
    </div>

    <div class="card border-danger p-3 mt-3 mb-5">
      <p>
        <strong>GitHub APIの利用制限について</strong>
      </p>
      <p class="m-0">
        データ取得に使っているGitHub APIの利用制限が1時間あたり5000回までのため、
        利用制限を超えると、データを取得できずに名刺原稿を作成できなくなります。その際は利用制限が回復するまでお待ちください。
      </p>
    </div>
  </section>
</article>
