<article>
  <section class="mt-4">
    <h2 class="h5">このサイトについて</h2>
    <div class="card border-danger p-3 mt-4">
      作成途中のアプリです。デザインや機能の一部が変更になる可能性があります。
    </div>

    <p class="mt-4">
      IT勉強会用 名刺ジェネレーターは、
      「ラクスルにそのまま入稿できる名刺原稿」を作成するWebサービスです。
    </p>
    <p class="mt-4">
      GitHubアカウントとTwitterアカウントを持っている人であれば、
      どなたでも名刺原稿を作成することができます。
      <br>
      学生さんには特にオススメです。（学校は学生の名刺を配布しないため）
      <br>
      また、会社の名刺にSNSアカウントやアバター画像が記載されていない方にもオススメです。
    </p>
    <div class="row mt-4">
      <div class="col-md-8">
        <p>
          名刺の表には、GitHubのアバター画像とSNSアカウントを印刷するので、
          ネット上の「〇〇さん」ということがわかりやすくなります。
        </p>
      </div>
      <div class="col-md-4">
        <img class="border" width="200" src="https://user-images.githubusercontent.com/39484102/62113567-ceebd280-b2ef-11e9-9f5b-d7eb013e54e9.png" alt="名刺の表">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-8">
        <p>
          名刺の裏にはGitHubとTwitterアカウントのQRコードを印刷するので、
          勉強会後にSNSで繋がりやすくなります。QRコードにはWebサービスのアイコンが印刷されます。
          （右のQRコードは、QRコードスキャナで読み込めます。）
        </p>
      </div>
      <div class="col-md-4">
        <img class="border" width="200" src="https://user-images.githubusercontent.com/39484102/62113758-1e320300-b2f0-11e9-8767-db676dee79af.png" alt="名刺の裏">
      </div>
    </div>
    <div class="mt-4">
      <p class="mb-2">
        作成したPDFの名刺原稿は、そのままラクスルに入稿できるフォーマットになっています。
      </p>
      <img class="border" width="680" src="https://user-images.githubusercontent.com/39484102/62063955-dca94580-b266-11e9-95d7-bbfd8c8dc5a4.png" alt="">
    </div>
    <p class="card border-success mt-4 p-3">
      IT勉強会では、勉強会後に懇親会があることが多く、懇親会で名刺交換をすることがあります。
      これによって参加者の親交を深めることができるようになっています。
    </p>
    <p class="card border-success mt-4 p-3">
      作成した名刺は、IT勉強会以外の用途で使用しても問題ありません。（ちょっとした自己紹介で個人用の名刺を渡すときなど）
    </p>

    <h2 class="h5 mt-5 mb-3">使用上の注意点</h2>

    <div class="card border-danger p-3 mb-3">
    <p>
      <strong>スマホからは入稿できません</strong>
    </p>
    <p class="m-0">
      ラクスルへの入稿は、<a target="_blank" rel="noopener" href="https://faq.raksul.com/hc/ja/articles/115000056521-%E3%82%B9%E3%83%9E%E3%83%BC%E3%83%88%E3%83%95%E3%82%A9%E3%83%B3%E3%81%A7%E3%82%82%E6%B3%A8%E6%96%87%E3%81%A7%E3%81%8D%E3%81%BE%E3%81%99%E3%81%8B-">パソコンからのみ</a>行うことができます。
    </p>
    </div>

    <div class="card border-danger mt-3 p-3">
      <p>
        <strong>
          同じフォントサイズでも、違うフォントサイズに見えてしまいます
        </strong>
      </p>
      <div class="row">
        <div class="col-md-7">
          <p>
            右の名刺原稿を見ると、GitHubアカウントとTwitterアカウントのフォントサイズが違っているように見えます。
            しかし、両者は同じフォントを使っていて、同じフォントサイズを使っています。印刷をすると、両者は同じフォントで同じフォントサイズで印刷されます。
          </p>
        </div>
        <div class="col-md-5">
          <img class="border" width="240" src="https://user-images.githubusercontent.com/39484102/62113567-ceebd280-b2ef-11e9-9f5b-d7eb013e54e9.png" alt="">
        </div>
      </div>
      <small>実際の名刺</small>
      <img width="640" src="https://user-images.githubusercontent.com/39484102/62444557-c9333880-b798-11e9-98bc-a487885390a3.jpg" alt="実際の名刺">
    </div>

    <div class="card border-danger p-3 mt-3 mb-5">
      <p>
        <strong>GitHub APIの利用制限について</strong>
      </p>
      <p class="m-0">
        データ取得に使っているGitHub APIの利用制限が1時間あたり5000回までのため、
        利用制限を超えると、データを取得できずに名刺原稿を作成できなくなります。その際は利用制限が回復するまでお待ちください。
      </p>
    </div>
  </section>
</article>
