<h2 class="h5 mt-4 mb-3">
  プライバシーポリシー
</h2>
<p>
  IT勉強会用 名刺ジェネレーター（以下、「当サイト」とします。）は、
  個人情報の保護に関する法律（以下、「個人情報保護法」といいます。）をはじめ、個人情報の取り扱いに関する法律を遵守するため、
  以下のとおり当サイトでの個人情報の取り扱いについて定め、これを遵守いたします。
</p>

<h3 class="h6 mt-4">
  個人情報の利用目的
</h3>
<p>
  当サイトでは、利用者が名刺原稿を作成する時に、個人情報をご登録いただく場合がございます。これらの個人情報は、名刺原稿の作成のみに利用いたします。
</p>

<h3 class="h6 mt-4">
  個人情報の安全対策
</h3>
<p>
  当サイトは、ユーザーから提供された個人情報または当サイトにより収集された個人情報を漏洩、誤用、改変を防止するために適切に管理します。
</p>

<h3 class="h6 mt-4">
  個人情報の第三者への提供
</h3>
<p>
  当サイトは、ユーザーに関する個人情報を第三者に販売する業務は行っておりません。
</p>

<h3 class="h6 mt-4">
  ウェブサイトからの個人情報の取得
</h3>
<p>
  当サイトに掲載されている広告について、第三者配信の広告サービス（バリューコマース）を利用しています。
  このような広告配信事業者は、当サイトや他サイトへのアクセスに関する情報 『Cookie』を使用することがあります。
  Cookieには氏名、住所、メール アドレス、電話番号は含まれません。
</p>
