<p id="notice" class="mt-3"><%= notice %></p>

<%= link_to user_path(@user, format: "pdf"), id: "dl-btn", class: "btn btn-primary mt-3 mb-4 d-block w-50" do %>
  名刺原稿をダウンロードする
<% end %>

<%= link_to "https://raksul.com", id: "raksul-btn", class: "btn btn-success disabled d-block mt-3 mb-3 w-50", target: "_blank", rel: "noopener" do %>
  ラクスルに入稿する
<% end %>

<div class="card border-success p-3 mt-4">
  <p class="m-0">
    作成したPDFファイルは、ラクスルの「<mark class="p-0">オペレーターチェック入稿</mark>」から入稿できます。
    <br>
    ラクスルへの入稿は、<mark class="p-0">パソコンからのみ</mark>行うことができます。
  </p>
</div>

<h3 class="h6 mt-5">入稿結果の例</h3>
<div class="border-secondary">
  <img class="border" src="https://user-images.githubusercontent.com/39484102/62063955-dca94580-b266-11e9-95d7-bbfd8c8dc5a4.png" width="680" alt="入稿結果">
</div>
