<footer class="footer mt-5 mb-3 text-center fz-14 <%= "#{controller.controller_name}-#{controller.action_name}" %>">
  <p class="m-0 text-secondary">
    Copyright © 2019 <%= link_to "Shinichi Matsumoto", "https://twitter.com/matt59649858", class: "text-secondary" %>
  </p>
  <%= link_to "プライバシーポリシー", privacy_path, class: "mr-2 text-secondary"  %>
  <%= link_to "免責事項", disclaimer_path, class: "text-secondary" %>
</footer>
